.content {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: rgb(219, 217, 217);
	margin: 100px 150px;
	border-radius: 8px;
	padding-top: 20px
}

button {
	margin-top: 10px;
	height: 25px;
	min-width: 75px;
	border-radius: 5px;
	border: none;
	font-size: 16px;
	font-weight: 100;
	cursor: pointer;
	background: rgba(124, 124, 124, 0.863);
	color: aliceblue;
}