.text {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: rgb(219, 217, 217);
	margin: 0 200px;
	border-radius: 8px;
}

p {
	font-size: 36px;
	color: rgb(5, 28, 48);
}

h2 {
	background: rgb(255, 255, 255);
	padding: 10px;
	border-radius: 8px;
	color: rgb(5, 28, 48);
	font-weight: 100;
}